<h1 class="title">Як користуватись сервісом?</h1>
<h2>
  Тут ми надамо вам інструкції та кроки, як використовувати наш сервіс
  знезараження приміщень ультрафіолетовими лампами. Давайте розглянемо основні
  кроки:
</h2>

<h2>1. Реєстрація або вхід на сайт</h2>
<h3>
  Перш ніж почати використовувати сервіс, необхідно зареєструватися або увійти
  на сайт, якщо у вас вже є обліковий запис. Реєстрація надає доступ до
  додаткових функцій, таких як збереження та перегляд замірів.
</h3>

<h2>2. Введення даних</h2>
<h3>
  Після входу в систему, вам потрібно буде ввести необхідні дані для розрахунку
  допустимих показників ультрафіолетової лампи. Ці дані можуть включати розміри
  приміщення, характеристики лампи та інші важливі параметри.
</h3>
<h2>3. Використання калькулятора</h2>
<h3>
  За допомогою введених даних, ви можете скористатися калькулятором нашого
  сервісу для обчислення допустимої кількості ультрафіолетового опромінення.
  Калькулятор зробить точні розрахунки та надасть вам результати.
</h3>
<h2>4. Візуалізація 3D моделі</h2>
<h3>
  Після отримання результатів, ви можете використовувати візуалізацію 3D моделі
  для кращого розуміння розташування та покриття ультрафіолетового опромінення у
  вашому приміщенні. Це дозволить вам візуально оцінити ефективність
  знезараження та внести необхідні коригування.
</h3>

<h2>Збереження та керування даними</h2>
<h3>
  Як зареєстрованому користувачу, ви маєте можливість зберігати ваші дані на
  нашому сервері або локально. Це дозволяє вам легко отримати до них доступ у
  майбутньому, а також переглядати, редагувати та видаляти заміри у вашому
  особистому кабінеті. Тепер ви готові почати використовувати наш сервіс
  знезараження приміщень! Якщо у вас є будь-які питання або потреба в додатковій
  допомозі, будь ласка, звертайтеся до нашої підтримки.
</h3>

<h3>
  Посилання на наказ №882 МОЗ:
  <a href="https://zakon.rada.gov.ua/laws/show/z0978-21#Text" target="_blank">
    Про затвердження санітарно-протиепідемічних правил і норм використання
    ультрафіолетового бактерицидного випромінювання для знезараження повітря та
    дезінфекції поверхонь в приміщеннях закладів охорони здоров’я та
    установ/закладів надання соціальних послуг/соціального захисту населення"
  </a>
</h3>
