.logo {
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 0;
}

.logo h2 {
  margin: 0;
}

.logo img {
  height: 100%;
  width: 32px;
}

.auth-buttons {
  display: flex;
  align-items: center;
  gap: 10px;
}
