<h1 class="title">Ласкаво просимо до UV-Helper!</h1>
<h2>Тут ви знайдете основну інформацію та можливості нашого сервісу</h2>

<h2>Про сервіс</h2>
<h3>
  Наш сервіс надає вам ефективний спосіб знезараження приміщень за допомогою
  ультрафіолетового опромінення. Застосування ультрафіолетових ламп для
  дезінфекції стало актуальним у зв'язку з підвищеним попитом на безпеку та
  гігієну. Наш сервіс допомагає вам розрахувати допустиму кількість
  ультрафіолетового опромінення, а також надає можливість візуалізувати дані та
  зберігати їх для майбутнього використання.
</h3>

<h3>Калькулятор допустимих показників</h3>
<h4>
  Ми розробили калькулятор, який допомагає вам визначити допустимі показники
  ультрафіолетової лампи для знезараження приміщень. Ви можете ввести необхідні
  дані про ваше приміщення та лампу, а калькулятор зробить розрахунки та надасть
  вам результати.
</h4>
<h3>Візуалізація даних за допомогою 2D моделі</h3>
<h4>
  Наш сервіс надає вам можливість візуалізувати дані за допомогою 2D моделі
  вашого приміщення. Після введення розмірів та характеристик приміщення, ви
  зможете переглянути його в 2D форматі, що допомагає краще уявити розміри та
  розташування лампи.
</h4>
<h3>Збереження даних та особистий кабінет Наш сервіс пропонує</h3>
<h4>
  вам зберігати ваші дані для подальшого використання. Після реєстрації та входу
  на сайт ви зможете зберігати ваші розрахунки та отримати доступ до них в
  будь-який час. Ви також матимете особистий кабінет, де зможете переглядати,
  видаляти та редагувати ваші заміри та дані, збережені на нашому сервері. Ми
  надаємо ці зручні функції, щоб забезпечити вам зручне та просте використання
  нашого сервісу знезараження приміщень ультрафіолетовими лампами.
</h4>

<h2>Переваги нашого сервісу</h2>
<h3>
  Калькулятор допустимих показників: Використовуйте наш калькулятор для
  визначення допустимих показників ультрафіолетової лампи для вашого приміщення.
  Введіть необхідні дані про розміри приміщення та характеристики лампи, і ми
  надамо вам точні результати. Візуалізація 2D моделі: Ознайомтесь з виглядом
  вашого приміщення у 2D форматі, що допомагає вам краще розуміти розташування
  та покриття ультрафіолетового опромінення. Збереження даних: Ми пропонуємо
  можливість зберегти ваші дані на нашому сервері або локально, щоб ви могли з
  легкістю отримати до них доступ у майбутньому.
</h3>

<h2>Реєстрація та вхід на сайт</h2>
<h3>
  Для повного користування нашим сервісом ми рекомендуємо вам зареєструватися та
  авторизуватися на нашому сайті. Це дозволить вам зберігати ваші розрахунки та
  використовувати їх в подальшому. Авторизованим користувачам також надається
  особистий кабінет, де вони можуть переглядати, редагувати та видаляти свої
  дані.
</h3>

<h2>Приєднуйтесь до нашого сервісу знезараження приміщень зараз!</h2>
